* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Sorry {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.accordion-button:focus {
    z-index: 3;
    box-shadow: rgba(218, 197, 6, 0.25) 0px 0px 0px 0.25rem;
    border-color: rgb(237, 235, 131);
    outline: 0px;
}

.accordion-button:hover {
    z-index: 2;
}

.accordion-button:not(.collapsed) {
    color: rgb(196, 183, 5);
    background-color: rgb(251, 250, 230);
    box-shadow: rgba(0, 0, 0, 0.125) 0px -1px 0px inset;
}

.custom-accordion:hover {
    background-color: transparent !important; /* Enlève la couleur de fond */
    border-bottom: 2px solid #343a40 !important; /* Ajoute une bordure inférieure de couleur 'dark' */
  }

.persobg {
    background-image: url('../../public/img/btatrans.jpeg');
    height: 100%;
    background-position: center;
    background-size: cover;
}

.btpcss {
background-image: url('../../public/img/btp.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
}

.transitcss {
background-image: url('../../public/img/transit.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
}

.advicecss {
background-image: url('../../public/img/advice.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
}

.exporttitle{
    color:#091E3E;
    background: #ffc107de !important;
    border-radius: 5px;
    padding: 5px 0px;
}
  
.arrangement {
        position: absolute;
    /* padding-top: 100px; */
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 991.98px) {
    .arrangement {
        position: inherit;
        /* margin-top: 0px;
        padding-top: 0; */
        padding-left: 10px;
        padding-right: 10px;
    }
}